<!doctype html>
<html lang="en">

	<head>

		<!-- Meta data -->
		<meta charset="UTF-8">
		<meta name='viewport' content='width=device-width, initial-scale=1.0, user-scalable=0'>
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta content="Reallist- Bootstrap Responsive Real estate Classifieds, Dealer, Rentel, Builder and Agent Multipurpose HTML Template" name="description">
		<meta content="Spruko Technologies Private Limited" name="author">
		<meta name="keywords" content="html template, real estate websites, real estate html template, property websites, premium html templates, real estate company website, bootstrap real estate template, real estate marketplace html template, listing website template, property listing html template, real estate bootstrap template, real estate html5 template, real estate listing template, property template, property dealer website"/>

		<!-- Favicon -->
		<link rel="icon" href="favicon.ico" type="image/x-icon"/>
		<link rel="shortcut icon" type="image/x-icon" href="favicon.ico" />

		<!-- Title -->
		<title>Reallist- Bootstrap Responsive Real estate Classifieds, Dealer, Rentel, Builder and Agent Multipurpose HTML Template</title>

		<!-- Bootstrap Css -->
		<link href="../assets/plugins/bootstrap-4.3.1-dist/css/bootstrap.min.css" rel="stylesheet" />

		<!-- Style css -->
		<link href="../assets/css/style.css" rel="stylesheet" />

		<!-- Font-awesome  Css -->
		<link href="../assets/css/icons.css" rel="stylesheet"/>

		<!--Horizontal Menu-->
		<link href="../assets/plugins/horizontal-menu/horizontal.css" rel="stylesheet" />

		<!-- Owl Theme css-->
		<link href="../assets/plugins/owl-carousel/owl.carousel.css" rel="stylesheet" />

		<!--Select2 Plugin -->
		<link href="../assets/plugins/select2/select2.min.css" rel="stylesheet" />

		<!-- Cookie css -->
		<link href="../assets/plugins/cookie/cookie.css" rel="stylesheet">

		<!-- Custom scroll bar css-->
		<link href="../assets/plugins/scroll-bar/jquery.mCustomScrollbar.css" rel="stylesheet" />

		<!-- Color skin -->
		<link id="theme" rel="stylesheet" type="text/css" media="all" href="../assets/skins/color-skins/color15.css" />

	</head>

	<body>

		<!--Loader-->
		<div id="global-loader">
			<img src="../assets/images/loader.svg" class="loader-img" alt="">
		</div>

		<!--Topbar-->
		<div class="header-main">
			<!-- Horizontal-menu -->
			<div class="horizontal-main bg-dark-transparent clearfix">
				<div class="horizontal-mainwrapper container clearfix">
					<div class="desktoplogo">
						<a href="index.html"><img src="../assets/images/brand/logo1.png" alt=""></a>
					</div>
					<div class="desktoplogo-1">
						<a href="index.html"><img src="../assets/images/brand/logo1.png" alt=""></a>
					</div>
					<!--Nav-->
					<nav class="horizontalMenu clearfix d-md-flex">
						<ul class="horizontalMenu-list">
							<li aria-haspopup="true"><a href="#" >Home <span class="fa fa-caret-down m-0"></span></a>
								<ul class="sub-menu">
									<li aria-haspopup="true"><a href="index.html">Home-default</a></li>
									<li aria-haspopup="true"><a href="index-text.html">Home style-1</a></li>
									<li aria-haspopup="true"><a href="index-slides.html">Home style-2</a></li>
									<li aria-haspopup="true"><a href="index-video.html">Home style-3</a></li>
									<li aria-haspopup="true"><a href="index-animation.html">Home style-4 </a></li>
									<li aria-haspopup="true"><a href="index-map.html">Home style-5</a></li>
									<li aria-haspopup="true"><a href="intro-page.html">Home Intro Page</a></li>
									<li aria-haspopup="true"><a href="popup-login.html">Home Pop-up login</a></li>
									<li aria-haspopup="true"><a href="banner.html">Banners</a></li>
								</ul>
							</li>
							<li aria-haspopup="true"><a href="about.html">About Us </a></li>
							<li aria-haspopup="true"><a href="widgets.html">Widgets</a></li>
							<li aria-haspopup="true"><a href="#" class="active">Pages <span class="fa fa-caret-down m-0"></span></a>
								<div class="horizontal-megamenu clearfix">
									<div class="container">
										<div class="megamenu-content">
											<div class="row">
												<ul class="col link-list">
													<li class="title">Custom Pages</li>
													<li>
														<a href="page-list.html">RealEstate List</a>
													</li>
													<li>
														<a href="page-list-right.html">RealEstate  Right</a>
													</li>
													<li>
														<a href="page-list-map.html">RealEstate Map list</a>
													</li>
													<li>
														<a href="page-list-map2.html">RealEstate Map list 02</a>
													</li>
													<li>
														<a href="page-list-map3.html">RealEstate Map style 03</a>
													</li>
													<li>
														<a href="categories.html">Categories</a>
													</li>
													<li>
														<a href="inovice.html">Invoice</a>
													</li>
													<li>
														<a href="usersall.html">User Lists</a>
													</li>
													<li>
														<a href="pricing.html">Pricing</a>
													</li>
												</ul>
												<ul class="col link-list">
													<li class="title">Custom Pages</li>
													<li>
														<a href="ad-list.html">Ad Listing</a>
													</li>
													<li>
														<a href="ad-list-right.html">Ad Listing Right</a>
													</li>
													<li>
														<a href="ad-details.html">Ad Details</a>
													</li>
													<li>
														<a href="ad-details1.html">Ad Details 1</a>
													</li>
													<li>
														<a href="ad-details-right.html">Ad Details Right</a>
													</li>
													<li>
														<a href="ad-posts.html">Ad Posts</a>
													</li>
													<li>
														<a href="ad-posts2.html">Ad Posts2</a>
													</li>
													<li>
														<a href="typography.html">Typography</a>
													</li>
													<li>
														<a href="testimonial.html">Testimonials</a>
													</li>
												</ul>
												<ul class="col link-list">
													<li class="title">Custom Pages</li>
													<li>
														<a href="userprofile.html"> User Profile</a>
													</li>
													<li>
														<a href="mydash.html">My Dashboard</a>
													</li>
													<li>
														<a href="myads.html">Ads</a>
													</li>
													<li>
														<a href="myfavorite.html">Favorite Ads</a>
													</li>
													<li>
														<a href="manged.html">Manged Ads</a>
													</li>
													<li>
														<a href="payments.html">Payments</a>
													</li>
													<li>
														<a href="orders.html"> Orders</a>
													</li>
													<li>
														<a href="settings.html"> Settings</a>
													</li>
													<li>
														<a href="tips.html">Tips</a>
													</li>

												</ul>
												<ul class="col link-list">
													<li class="title">Custom Pages</li>
													<li><a href="underconstruction.html">Under 3BHk Homes</a></li>
													<li><a href="404.html">404</a></li>
													<li><a href="register.html">Register</a></li>
													<li><a href="login.html">Login</a></li>
													<li><a href="login-2.html">Login 02</a></li>
													<li><a href="forgot.html">Forgot Password</a></li>
													<li><a href="lockscreen.html">Lock Screen</a></li>
													<li><a href="faq.html">Faq</a></li>
													<li><a href="userprofile2.html"> User Profile2</a></li>
												</ul>
												<ul class="col link-list">
													<li class="title">Custom Pages</li>
													<li><a href="header-style1.html">Header Style 01</a></li>
													<li><a href="header-style2.html">Header Style 02</a></li>
													<li><a href="header-style3.html">Header Style 03</a></li>
													<li><a href="header-style4.html">Header Style 04</a></li>
													<li><a href="footer-style.html">Footer Style 01</a></li>
													<li><a href="footer-style2.html">Footer Style 02</a></li>
													<li><a href="footer-style3.html">Footer Style 03</a></li>
													<li><a href="footer-style4.html">Footer Style 04</a></li>
												</ul>
											</div>
										</div>
									</div>
								</div>
							</li>
							<li aria-haspopup="true"><a href="#">Blog <span class="fa fa-caret-down m-0"></span></a>
								<ul class="sub-menu">
									<li aria-haspopup="true"><a href="#">Blog Grid <i class="fa fa-angle-right float-right mt-1 d-none d-lg-block"></i></a>
										 <ul class="sub-menu">
											<li aria-haspopup="true"><a href="blog-grid.html">Blog Grid Left</a></li>
											<li aria-haspopup="true"><a href="blog-grid-right.html">Blog Grid Right</a></li>
											<li aria-haspopup="true"><a href="blog-grid-center.html">Blog Grid Center</a></li>
										</ul>
									</li>
									<li aria-haspopup="true"><a href="#">Blog List <i class="fa fa-angle-right float-right mt-1 d-none d-lg-block"></i></a>
										 <ul class="sub-menu">
											<li aria-haspopup="true"><a href="blog-list.html">Blog List Left</a></li>
											<li aria-haspopup="true"><a href="blog-list-right.html">Blog List Right</a></li>
											<li aria-haspopup="true"><a href="blog-list-center.html">Blog List Center</a></li>
										</ul>
									</li>
									<li aria-haspopup="true"><a href="#">Blog Details <i class="fa fa-angle-right float-right mt-1 d-none d-lg-block"></i></a>
										<ul class="sub-menu">
											<li aria-haspopup="true"><a href="blog-details.html">Blog Details Left</a></li>
											<li aria-haspopup="true"><a href="blog-details-right.html">Blog Details Right</a></li>
											<li aria-haspopup="true"><a href="blog-details-center.html">Blog Details Center</a></li>
										</ul>
									</li>
								</ul>
							</li>
							<li aria-haspopup="true"><a href="#" class="">Categories <span class="fa fa-caret-down m-0"></span></a>
								<ul class="sub-menu">
									<li aria-haspopup="true"><a href="col-left.html">RealEstate Left</a></li>
									<li aria-haspopup="true"><a href="col-right.html">RealEstate  Right </a></li>
								</ul>
							</li>
							<li aria-haspopup="true"><a href="contact.html"> Contact Us <span class="hmarrow"></span></a></li>
							<li aria-haspopup="true" class="d-lg-none mt-5 pb-5 mt-lg-0">
								<span><a class="btn btn-secondary" href="ad-posts.html">Post Property Ad</a></span>
							</li>
						</ul>
						<ul class="mb-0">
							<li aria-haspopup="true" class="mt-3 d-none d-lg-block top-postbtn">
								<span><a class="btn btn-secondary ad-post " href="ad-posts.html">Post Property Ad</a></span>
							</li>
						</ul>
					</nav>
					<!--Nav-->
				</div>
			</div>
		</div>
		<!-- /Horizontal-menu -->

		<!--BreadCrumb-->
		<div class="bg-white border-bottom">
			<div class="container">
				<div class="page-header">
					<h4 class="page-title">RealEstate</h4>
					<ol class="breadcrumb">
						<li class="breadcrumb-item"><a href="#">Home</a></li>
						<li class="breadcrumb-item"><a href="#">Categories</a></li>
						<li class="breadcrumb-item active" aria-current="page">RealEstate</li>
					</ol>
				</div>
			</div>
		</div>
		<!--/BreadCrumb-->

		<!--Section-->
		<section class="sptb">
			<div class="container">
				<div class="row">
					<div class="col-xl-12 col-lg-8 col-md-12">

						<!--Classified Description-->
						<div class="card overflow-hidden">
							<div class="ribbon ribbon-top-right text-danger"><span class="bg-danger">Offer</span></div>
							<div class="card-body">
								<div class="product-slider">
									<div id="carousel" class="carousel slide" data-ride="carousel">
										<div class="arrow-ribbon2 bg-primary">Rp. 150.000.000 <span class="fs-12  font-weight-normal">Per Kamar</span></div>
										<div class="carousel-inner">
											<div class="carousel-item active"> <img src="../assets/images/product/Myrra Kost tipe 75  6 kamar.jpg" alt="img"> </div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="border-0">
							<div class="wideget-user-tab wideget-user-tab3">
								<div class="tab-menu-heading">
									<div class="tabs-menu1">
										<ul class="nav">
											<li class=""><a href="#tab-1" class="active" data-toggle="tab">Tampak Depan</a></li>
											<li><a href="#tab-2" data-toggle="tab" class="">Denah Lantai 1</a></li>
											<li><a href="#tab-3" data-toggle="tab" class="">Denah Lantai 2</a></li>
											<li><a href="#tab-4" data-toggle="tab" class="">Video 3D Kamar</a></li>
											<li><a href="#tab-5" data-toggle="tab" class="">Video Survey Online Myrra</a></li>
											<li><a href="#tab-6" data-toggle="tab" class="">Deskripsi</a></li>
										</ul>
									</div>
								</div>
							</div>
							<div class="tab-content border-0 p-5 bg-white details-tab-content">
								<div class="tab-pane active" id="tab-1">
									<div class="row">
										<div class="col-lg-6  col-md-12">
											<div class="card">
												<div class="item-card">
													<div class="item-card-img">
														<img src="../assets/images/product/Myrra Kost tipe 75  6 kamar.jpg" alt="img" class="br-tr-7 br-tl-7">
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="tab-pane" id="tab-2">
									<div class="row">
										<div class="col-lg-6  col-md-12">
											<div class="card">
												<div class="item-card">
													<div class="item-card-img">
														<img src="../assets/images/product/myra rukos tpe 75 lt.1.jpg" alt="img" class="br-tr-7 br-tl-7">
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="tab-pane" id="tab-3">
									<div class="row">
										<div class="col-lg-6  col-md-12">
											<div class="card">
												<div class="item-card">
													<div class="item-card-img">
														<img src="../assets/images/product/myra rukos tipe 75 lt.2.jpg" alt="img" class="br-tr-7 br-tl-7">
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="tab-pane" id="tab-4">
									<iframe width="100%" height="450px" src="https://www.youtube.com/embed/b1eU1FBdGTc" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
								</div>
								<div class="tab-pane" id="tab-5">
									<iframe width="100%" height="450px" src="https://www.youtube.com/embed/b1eU1FBdGTc" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
								</div>
								<div class="tab-pane" id="tab-6">
									<h3 class="card-title mb-3 font-weight-semibold">Description</h3>
									<div class="mb-4">
										<p>Laxury Home  For Sale odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atcorrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga.</p>
										<p>On the other hand, we denounce with righteous indignation and dislike men who are so beguiled and demoraliz the charms of pleasure of the moment, so blinded by desire, that they cannot foresee the pain and trouble thena bound to ensue; and equal blame belongs to those who fail in their duty through weakness of will, which is the same as saying through shrinking from toil and pain.</p>
									</div>
									<h4 class="mb-4">Specifications</h4>
									<div class="row">
										<div class="col-xl-12 col-md-12">
											<div class="table-responsive">
												<table class="table table-bordered border-top mb-0">
													<tbody>
														<tr>
															<td>Type</td>
															<td><span class="font-weight-bold">2BHK Flat</span></td>
														</tr>
														<tr>
															<td>Listed By </td>
															<td><span class="font-weight-bold">Owner</span></td>
														</tr>
														<tr>
															<td>BedRooms </td>
															<td><span class="font-weight-bold">2</span></td>
														</tr>
														<tr>
															<td>BathRooms</td>
															<td><span class="font-weight-bold">2</span></td>
														</tr>
														<tr>
															<td>Furnishing</td>
															<td><span class="font-weight-bold">Unfurnished</span></td>
														</tr>
														<tr>
															<td>Car Parking</td>
															<td><span class="font-weight-bold">2</span></td>
														</tr>
														<tr>
															<td>Total Foolrs</td>
															<td><span class="font-weight-bold">2</span></td>
														</tr>
														<tr>
															<td>Facing </td>
															<td><span class="font-weight-bold">East face</span></td>
														</tr>
													</tbody>
												</table>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="pt-4 pb-4 pl-5 pr-5 border-top bg-white">
								<div class="list-id">
									<div class="row">
										<div class="col">
											<a class="mb-0">Classified ID : #8256358</a>
										</div>
										<div class="col col-auto">
											Posted By <a class="mb-0 font-weight-bold">Individual</a> / 21st Dec 2019
										</div>
									</div>
								</div>
							</div>
							<div class="card-footer bg-white details-tab">
								<div class="icons">
									<a href="#" class="btn btn-info icons"><i class="icon icon-share mr-1"></i> Share Ad</a>
									<a href="#" class="btn btn-secondary icons"><i class="fas fa-money-check-alt"></i> Booking Now !</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!-- Section-->


		<!--Footer Section-->
		<section>
			<footer class="bg-dark-purple text-white">
				<div class="bg-dark-purple text-white p-0">
					<div class="container">
						<div class="row d-flex">
							<div class="col-lg-12 col-sm-12 mt-3 mb-3 text-center ">
								Copyright © 2019 <a href="#" class="fs-14 text-primary">Reallist</a>. Designed by <a href="#" class="fs-14 text-primary">Spruko</a> All rights reserved.
							</div>
						</div>
					</div>
				</div>
			</footer>
		</section>
		<!--/Footer Section-->


		<!-- Back to top -->
		<a href="#top" id="back-to-top" ><i class="fa fa-rocket"></i></a>

		<!-- JQuery js-->
		<script src="../assets/js/vendors/jquery-3.2.1.min.js"></script>

		<!-- Bootstrap js -->
		<script src="../assets/plugins/bootstrap-4.3.1-dist/js/popper.min.js"></script>
		<script src="../assets/plugins/bootstrap-4.3.1-dist/js/bootstrap.min.js"></script>

		<!--JQuery Sparkline Js-->
		<script src="../assets/js/vendors/jquery.sparkline.min.js"></script>

		<!-- Circle Progress Js-->
		<script src="../assets/js/vendors/circle-progress.min.js"></script>

		<!-- Star Rating Js-->
		<script src="../assets/plugins/rating/jquery.rating-stars.js"></script>

		<!--Owl Carousel js -->
		<script src="../assets/plugins/owl-carousel/owl.carousel.js"></script>

		<!--Horizontal Menu-->
		<script src="../assets/plugins/horizontal-menu/horizontal.js"></script>

		<!--JQuery TouchSwipe js-->
		<script src="../assets/js/jquery.touchSwipe.min.js"></script>

		<!-- Google Maps Plugin -->
		<script src="https://maps.google.com/maps/api/js?key=AIzaSyAykAdIIsNMu0V2wyGOMQcguo8zKngWlyM"></script>
		<script src="../assets/plugins/maps-google/jquery.googlemap.js"></script>
		<script src="../assets/plugins/maps-google/map.js"></script>

		<!--Select2 js -->
		<script src="../assets/plugins/select2/select2.full.min.js"></script>
		<script src="../assets/js/select2.js"></script>

		<!-- Count Down-->
		<script src="../assets/plugins/count-down/jquery.lwtCountdown-1.0.js"></script>

		<!-- Custom scroll bar Js-->
		<script src="../assets/plugins/scroll-bar/jquery.mCustomScrollbar.concat.min.js"></script>

		<!-- sticky Js-->
		<script src="../assets//js/sticky.js"></script>

		<!-- Vertical scroll bar Js-->
		<script src="../assets/plugins/vertical-scroll/jquery.bootstrap.newsbox.js"></script>
		<script src="../assets/plugins/vertical-scroll/vertical-scroll.js"></script>

		<!-- Swipe Js-->
		<script src="../assets/js/swipe.js"></script>

		<!-- Cover-image Js-->
		<script src="../assets/js/owl-carousel.js"></script>

		<!-- Custom Js-->
		<script src="../assets/js/custom.js"></script>

	</body>
</html>